<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tmds.Properties.Settings.tmdsDatabaseStaticConnectionString"
            connectionString="Data Source=STMS-JPENROD;Initial Catalog=tmdsDatabaseStatic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tmds.Properties.Settings.tmdsDatabaseDynamicConnectionString"
            connectionString="Data Source=STMS-JPENROD;Initial Catalog=tmdsDatabaseDynamic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>